.title {
	display: flex;
	justify-content: center;
	margin: 0 1rem 2rem 1rem;
}

.fb-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.fb-col {
	display: flex;
	flex-direction: column;
}

.event-view {
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 1rem;
	margin-inline: 1.5rem;
}

.big-searchbar {
	font-size: 18px;
	margin-bottom: 1rem;
	height: 2.5rem;
	width: 30rem;
	border-radius: 30px;
	padding-inline: 1rem;
	border: 2px solid #00a5dc71;
}

.big-searchbar:focus {
	outline: none;
	border: 2px solid #00a5dc;
}

@media screen and (max-width: 600px) {
	.title {
		margin-bottom: 1.5rem;
	}
	.fb-row {
		margin-inline: 0;
	}
	.big-searchbar {
		width: 100%;
		margin-inline: 1vw;
	}
}
