body {
	margin: 0;
	padding: 0 !important;
}

.header {
	margin: 1rem;
	width: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	gap: 0.5rem;
	background-color: white;
}

.header-logo {
	width: 200px;
}

.no-td {
	text-decoration: none;
}

.login-btn {
	background-color: #00a4dc;
	border-color: transparent;
}

.header-btn {
	display: flex;
	align-items: center;
	border-radius: 30px;
	gap: 0.5rem;
	display: flex;
	padding: 0.5rem;
	font-size: 1rem;
	font-weight: bold;
	border: 2.5px solid black;
	transition: all 0.1s ease-in-out;
}

.header-btn:hover {
	cursor: pointer;
	color: white;
}

/* .header-btn:hover {
	transform: scale(108%);
} 
TODO: If scaling buttons is wanted by the others, re-add this*/

.profile:hover {
	background-color: #00a4dc;
	border: 2.5px solid #007fa9;
}

.logout:hover {
	background-color: #b70018;
	border: 2.5px solid #7c0011;
}

.buttons {
	margin-right: 1rem;
	display: flex;
	gap: 1rem;
	text-decoration: none;
}

@media screen and (max-width: 600px) {
	.buttons {
		margin-right: 0;
	}
	.header-logo {
		margin-inline: 0;
		width: 100%;
	}
	.header {
		flex-direction: column;
		padding: 0px;
		margin: 5px;
		top: 0;
	}
}
