body {
	margin: 0;
	padding: 0 !important;
}

.header {
	margin: 1rem 0 1rem 0;
	width: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1.5rem 1.5rem 1.5rem;
	gap: 0.5rem;
	background-color: white;
	border-bottom: 1px solid rgb(225, 225, 225);
}

.header-logo {
	width: 200px;
}

.no-td {
	text-decoration: none;
}

.login-btn {
	background-color: #00a4dc;
	border-color: transparent;
}

.header-btn {
	display: flex;
	height: 100%;
	align-items: center;
	border-radius: 30px;
	gap: 0.5rem;
	display: flex;
	padding: 0.5rem;
	font-size: 1rem;
	font-weight: bold;
	border: 2.5px solid black;
	transition: all 0.1s ease-in-out;
}

.header-btn:hover {
	cursor: pointer;
	color: white;
}

/* .header-btn:hover {
	transform: scale(108%);
} 
TODO: If scaling buttons is wanted by the others, re-add this*/
.new {
	transition: transform 0.3s ease-in-out;
}

.new:hover {
	background-color: #00d42e;
	border: 2.5px solid #009721;
	transform: scale(105%);
}

.new > .spin1 {
	display: block; /* removes bottom margin/whitespace */
	-webkit-transition: -webkit-transform 0.8s ease-in-out;
	transition: transform 0.5s ease-in-out;
}

.new:hover > .spin1 {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

.profile:hover {
	background-color: #00a4dc;
	border: 2.5px solid #007fa9;
}

.logout:hover {
	background-color: #b70018;
	border: 2.5px solid #7c0011;
}

.register:hover {
	background-color: #9d00d1;
	border: 2.5px solid #650086;
}

.buttons {
	margin-right: 1rem;
	display: flex;
	gap: 1rem;
	text-decoration: none;
}

@media screen and (max-width: 600px) {
	.buttons {
		margin-right: 0;
	}
	.header-logo {
		margin-inline: 0;
		width: 100%;
	}
	.header {
		flex-direction: column;
		padding: 0px;
		margin: 5px;
		top: 0;
		border-bottom: none;
	}
}
